// Spacings
$spacing-unit: 1.5rem;
$spacings: (
  xs: $spacing-unit * 0.5,
  sm: $spacing-unit * 1,
  md: $spacing-unit * 1.5,
  lg: $spacing-unit * 2,
  xl: $spacing-unit * 2.5
);

// Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 768px
);

// Font families
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-families: (
  source-sans-pro: ('Source Sans Pro', $font-stack),
  roboto-mono: ('Roboto Mono', monospace, $font-stack)
);

// Font styles
$font-styles: (
  kramfors: (
    font-size: 1.6rem,
    font-weight: 400
  ),
  tokyo: (
    font-size: 3.2rem,
    line-height: 1.2
  ),
  nairobi: (
    font-size: 2.56rem,
    line-height: 1.25
  ),
  berlin: (
    font-size: 2.24rem,
    line-height: 1.33
  ),
  moscow: (
    font-size: 1.92rem,
    line-height: 1.41
  ),
  rio: (
    font-size: 1.6rem,
    line-height: 1.5
  ),
  denver: (
    font-size: 1.44rem,
    line-height: 1.5
  ),
  helsinki: (
    font-size: 1.28rem,
    line-height: 1.375
  ),
  oslo: (
    font-size: 4rem,
    line-height: 1.15
  )
);

// Heading styles
$heading-styles: (
  h1: tokyo,
  h2: nairobi,
  h3: berlin,
  h4: moscow,
  h5: rio,
  h6: denver
);

// Line heights
$line-heights: (
  base: 1.5
);

// Durations
$durations: (
  fast: .25s,
  medium: .5s,
  slow: .75s,
  sloth: 2.5s
);

// Easings
$easings: (
  in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86),
  ease: ease
);

// Container padding sides
$container-padding-sides: map-get($spacings, lg);
